@using BlogPresentationLayer.Models.VM;
@model CreatePostVM

<form asp-action="AddPost" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>@Html.LabelFor(x=>x.Title) </td>
            <td> <input type="text" asp-for="Title" /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x=>x.Content) </td>
            <td> <input type="text" asp-for="Content" /></td>
        </tr>

        <tr>
            <td>@Html.LabelFor(x=>x.Genres) </td>
            <td> <select asp-items="@ViewBag.GenreList" asp-for="GenreId"></select></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x=>x.ImageFile) </td>
            <td> <input type="file" asp-for="ImageFile" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add a new post" />
            </td>
        </tr>
    </table>
</form>